
<h2 style="text-align:center">Kullanıcı Ekleme Sayfası</h2>

<form method="post" action="/user/addUser">
    <label for="name">Kullanıcı Adı</label> <br/>
    <input type="text" id ="name" name="firstName"/> <br />
    <label for="lastName">Soyadı</label><br />
    <input type="text" id="lastName" name="lastName"/>
    <input type="submit" value="Kullanıcı Ekle"/>
</form>