
@{
    ViewData["Title"] = "APIHubContextExample";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();

            async function start() {
                try {
                    await connection.start();
                    console.log("SignalR Connected.");
                } catch (err) {
                    console.log(err);
                    setTimeout(() => start(), 5000);
                }
            };

            connection.onclose(async () => {
                await start();
            });

            start();

            connection.on("ReceiveMessageForAllClient", (message) => {
                console.log(message);
            });

            $("#btn").click(function () {
                connection.invoke("BroadcastMessageAllClient", "Hello from client");
            });
        });
    </script>
}

<h1>APIHubContextExample</h1>

<button id="btn">Api Hub message</button>